.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  background-image: url("../images/background_header.svg");
  background-size: cover;
}

.nav {
  display: flex;
}

.nav__logo {
  position: relative;
  width: 105px;
  height: 39px;
  margin-left: 30px;
  margin-top: 30px;
  margin-right: auto;
}

.nav__links {
  margin-top: 30px;
  margin-right: 80px;
  display: flex;
  column-gap: 20px;
  list-style: none;
  padding: 0;
}

.nav__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: black;
  text-decoration: none;
}

.header__title {
  max-width: 729px;
  margin-top: 183px;
  margin-left: 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px
}

.header__span-accent {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2F80ED
}

.header__description {
  max-width: 683px;
  margin-top: 28px;
  margin-left: 80px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  display: flex;
  margin-top: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383
}

.header__hours {
  margin-left: 80px;
  margin-bottom: 40px;
}

.header__address {
  margin-right: 80px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-top: auto;
  z-index: 1;
}


.recipes {
  background-color: #0A2750;
  background-image: url("../images/background_recipes.svg");
  background-size: cover;
  color: white;
  padding-bottom: 215px;
  padding-top: 100px;
}

.recipes__title {
  max-width: 580px;
  margin-left: 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500; 
  font-size: 44px;  
  line-height: 52px;
}

.recipes__subtitle {
  margin-left: 80px;
  margin-top: 24px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
}

.recipes__videos {
  display: flex;
  column-gap: 40px;
  justify-content: center;
  margin-top: 80px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;

}

.recipes__caption {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
}
